# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.Unity-Mobile-SDK-Playground.iml
# Datasource local storage ignored files
/../../../../../../../:\Git\GitHub_Projects\Unity-Mobile-SDK-Playground\.idea\.idea.Unity-Mobile-SDK-Playground\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
